:root {
    --blue: #0A2339;
    --lightpink: #D99188;
    --darkpink: #BE6E71;
    --gray: #D9D9D9;
}

/* CSS reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ol, 
ul {
    margin: 0px;
    padding: 0;
    font-weight: normal;
}
    
ol, 
ul {
    list-style: none;
}
    
img {
    max-width: 100%;
    height: auto;
    }

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */

h1 {
	font-size: 1rem;
	color: white;
}

h2 {
	font-size: 1.5rem;
	color: var(--blue);
    padding-bottom: 24px;
}

h3 {
	font-size: 1rem;
    font-weight: bold;
	color: var(--blue);
	padding-top: 16px;
	padding-bottom: 24px;
	margin-left: 16px;
	margin-right: 16px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
}